In [84]:
import numpy as np
import pandas as pd
import seaborn as sns
import datetime as dt
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [85]:
data = pd.read_csv('movie_bd_v5.csv', parse_dates=[0])
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
398,tt0477080,100000000,167805466,Unstoppable,Denzel Washington|Chris Pine|Rosario Dawson|Et...,Tony Scott,"1,000,000 Tons. 100,000 Lives. 100 Minutes.","A runaway train, transporting deadly, toxic ch...",98,Action|Thriller,Twentieth Century Fox Film Corporation|Scott F...,11/4/2010,6.2,2010
288,tt1135503,40000000,129540499,Julie & Julia,Meryl Streep|Amy Adams|Stanley Tucci|Chris Mes...,Nora Ephron,Based on Two True Stories,Julia Child and Julie Powell â€“ both of whom ...,123,Romance|Drama,Columbia Pictures|Scott Rudin Productions|Easy...,8/6/2009,6.5,2009
1241,tt1815862,130000000,243843127,After Earth,Jaden Smith|Will Smith|Sophie Okonedo|ZoÃ« Kra...,M. Night Shyamalan,"Danger is real, fear is a choice",One thousand years after cataclysmic events fo...,100,Science Fiction|Action|Adventure,Columbia Pictures|Blinding Edge Pictures|Overb...,5/30/2013,5.1,2013
311,tt1019452,7000000,31430334,A Serious Man,Michael Stuhlbarg|Richard Kind|Fred Melamed|Sa...,Ethan Coen|Joel Coen,...seriously!,A Serious Man is the story of an ordinary man'...,105,Comedy|Drama,Mike Zoss Productions|Studio Canal|Relativity ...,10/2/2009,6.4,2009
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [86]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [87]:
answers = {} # создадим словарь для ответов

# Добавление колонки profit:
data['profit'] = data.revenue - data.budget

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [88]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt0413300)'
# если ответили верно, можете добавить комментарий со значком "+"

In [89]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [90]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [91]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [92]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [93]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [94]:
answers['4'] = '4. 109.6585494970884'

In [95]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [96]:
answers['5'] = '5. 107.0'

In [97]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [98]:
answers['6'] = '6. Avatar (tt0499549)'

In [99]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [100]:
answers['7'] = '7. The Lone Ranger (tt1210819)'

In [101]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [102]:
answers['8'] = '8. 1478'

In [103]:
data[data.revenue > data.budget].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [104]:
answers['9'] = '9. The Dark Knight (tt0468569)'

In [105]:
data_cash_2008 = data[data.release_year == 2008] 
data_cash_2008[data_cash_2008.revenue == data_cash_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [106]:
answers['10'] = '10. The Lone Ranger (tt1210819)'

In [107]:
data_min_profit = data[(data.release_year <= 2014) & (data.release_year >= 2012)]
data_min_profit[data_min_profit.profit == data_min_profit.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [108]:
answers['11'] = '11. Drama'

In [109]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [110]:
answers['12'] = '12. Drama'

In [111]:
profitable_movies = data.query('profit > 0')
Counter(profitable_movies.genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [112]:
answers['13'] = '13. Peter Jackson'

In [113]:
data.groupby('director')['revenue'].agg(['sum']).sort_values('sum', ascending=False)

                          sum
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[957 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [114]:
answers['14'] = '14. Robert Rodriguez'

In [117]:
action_movies = data[data.genres.str.contains('Action', na=False)]
data = data.assign(director=data.director.str.split('|')).explode('director')
action_movies.director.value_counts()

Robert Rodriguez        9
Michael Bay             7
Paul W.S. Anderson      7
Ridley Scott            6
Antoine Fuqua           6
                       ..
Rupert Wyatt            1
Rian Johnson            1
Steven Brill            1
Joe Cornish             1
Nicolas Winding Refn    1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [118]:
answers['15'] = '15. Chris Hemsworth'

In [124]:
data_2012 = data[data.release_year == 2012]
data_2012[data_2012.revenue == data_2012.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [125]:
answers['16'] = '16. Matt Damon'

In [127]:
budget_movies = data[data.budget > data.budget.mean()]
data = data.assign(cast=data.cast.str.split('|')).explode('cast')
budget_movies.cast.value_counts()

Eddie Murphy       19
Matt Damon         19
Ben Stiller        18
Angelina Jolie     18
Adam Sandler       17
                   ..
Samantha Morton     1
Will Rothhaar       1
Kathryn Hahn        1
Ben Mendelsohn      1
Jae Head            1
Name: cast, Length: 1458, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [128]:
answers['17'] = '17. Action'

In [129]:
profitable_movies = data.query('cast == "Nicolas Cage"')
Counter(profitable_movies.genres.str.split('|').sum()).most_common(1)

[('Action', 19)]

# 18. Самый убыточный фильм от Paramount Pictures

In [130]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'

In [131]:
paramount_min_profit = data[data.production_companies.str.contains("Paramount Pictures", na=False)]
paramount_min_profit.groupby('original_title')['profit'].agg(['sum']).sort_values('sum', ascending=True)

                                                           sum
original_title
K-19: The Widowmaker                                -324155170
Timeline                                            -302596305
Next                                                -258944935
Alfie                                               -233020305
Twisted                                             -124025000
...                                                        ...
Mission: Impossible - Ghost Protocol                2748566900
Transformers                                        2798548900
Indiana Jones and the Kingdom of the Crystal Skull  3008180165
Transformers: Revenge of the Fallen                 3431486140
Transformers: Dark of the Moon                      4643734980

[122 rows x 1 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [132]:
answers['19'] = '19. 2015'

In [133]:
data.groupby('release_year')['revenue'].agg(['sum']).sort_values('sum', ascending=False)

                       sum
release_year
2012          141446933305
2015          135241341090
2013          134724698190
2014          131306492590
2011          119182274760
2010          116883543937
2009          111501974620
2008          105615605860
2007          103524790930
2004           92171747202
2005           84412388185
2003           82040827600
2006           80867780975
2002           75901617090
2001           75774998560
2000           57581716993

# 20. Какой самый прибыльный год для студии Warner Bros?

In [135]:
answers['20'] = '20. 2014'

In [134]:
warner_max_profit = data[data.production_companies.str.contains("Warner Bros", na=False)]
warner_max_profit.groupby('release_year')['profit'].agg(['sum']).sort_values('sum', ascending=False)

                      sum
release_year
2014          13816825540
2003          13595406445
2008          12357256705
2007          10683733655
2010           9873564925
2011           9821224395
2009           9179334645
2013           8182267000
2004           8159668625
2005           8145876795
2001           6410712895
2012           6290100280
2002           5113549505
2015           4391780340
2006           3100853715
2000           2263156930

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [136]:
answers['21'] = '21. Сентябрь'

In [137]:
data["release_date"] = pd.to_datetime(data["release_date"])
data["month"] = data["release_date"].dt.month
sum_movies = data[(data.month <= 12)]
sum_movies.month.value_counts()

9     1224
10     995
12     990
3      855
8      855
6      834
4      830
11     805
5      765
7      740
2      715
1      650
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [138]:
answers['22'] = '22. 450'

In [143]:
data["release_date"] = pd.to_datetime(data["release_date"])
data["month"] = data["release_date"].dt.month
summer_movies = data[(data.month < 9) & (data.month > 5)]
summer_movies.month.count()

2429

# 23. Для какого режиссера зима – самое продуктивное время года?

In [144]:
answers['23'] = '23. Peter Jackson'

In [145]:
data["release_date"] = pd.to_datetime(data["release_date"])
data["month"] = data["release_date"].dt.month
winter_movies = data[data.month.isin(['1', '2', '12'])]
Counter(winter_movies.director.str.split('|').sum()).most_common(1)

[('Peter Jackson', 35)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [146]:
answers['24'] = '24. Four By Two Productions'

In [147]:
data['title_length'] = data['original_title'].map(lambda x: len(x))
data.groupby('production_companies')['title_length'].agg(['mean']).sort_values('mean', ascending=False)

                                                    mean
production_companies
Twentieth Century Fox Film Corporation|Four By ...  83.0
Walt Disney|Walden Media                            62.0
Walt Disney Pictures|21 Laps Entertainment|Jim ...  59.0
Plan B Entertainment|Virtual Studios|Scott Free...  58.0
Dune Entertainment|Fox 2000 Pictures|Walden Media   56.0
...                                                  ...
Columbia Pictures|Original Film|Revolution Studios   3.0
Ixtlan Productions|Emperor Motion Pictures|Glob...   2.0
Columbia Pictures|Relativity Media                   2.0
Twentieth Century Fox Film Corporation|Donners'...   2.0
Focus Films|Starz Animation|Relativity Media|Ti...   1.0

[1624 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [148]:
answers['25'] = '25. Universal Pictures'

In [149]:
data['tag_length'] = data['tagline'].map(lambda x: len(x.split()))
data.groupby('production_companies')['tag_length'].agg(['sum']).sort_values('sum', ascending=False)

                                                    sum
production_companies
DreamWorks Animation                                745
Greenestreet Films|Relativity Media|Virgin Prod...  720
New Line Cinema                                     715
Universal Pictures                                  685
Paramount Pictures                                  535
...                                                 ...
New Line Cinema|Benderspink|Carousel Productions      5
Great Scott Productions Pty. Ltd.                     5
Huayi Brothers Media Corporation                      5
Virtual Studios|Next Entertainment|Warner Bros....    5
Sudden Storm Productions|FilmNation Entertainme...    3

[1624 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [150]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

In [151]:
border = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= border].sort_values(by='vote_average', ascending=False)['original_title']

599                                      The Dark Knight
599                                      The Dark Knight
599                                      The Dark Knight
599                                      The Dark Knight
599                                      The Dark Knight
                             ...
863                The Lord of the Rings: The Two Towers
496    The Lord of the Rings: The Fellowship of the Ring
496    The Lord of the Rings: The Fellowship of the Ring
496    The Lord of the Rings: The Fellowship of the Ring
124                                           Big Hero 6
Name: original_title, Length: 145, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [152]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint'

In [153]:
pairs = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(2)

AttributeError: 'Series' object has no attribute 'split'

# Submission

In [155]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt0413300)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 109.6585494970884',
 '5': '5. 107.0',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Universal Pictures',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint'}

In [156]:
# и убедиться что ни чего не пропустил)
len(answers)

27